input:user-invalid {
  outline: 2px solid red;
}

input:user-valid {
  outline: 2px solid green;
}

.error {
  padding: 0.5rem 1rem;
  border: 2px solid red;
}

.userError {
  padding: 0.5rem 1rem;
  border: 2px solid gold;
}

.progress {
  content-visibility: hidden;
  aspect-ratio: 1;
  width: 4rem;
  border: 10px solid darkgray;
  border-radius: 50%;
  border-bottom-color: gray;
  animation: rotate 1s infinite linear;
  position: absolute;
  inset: 50% 50%;
  translate: -50% -50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
